/*  */

.advanced_blocks_accordion.line-style .advanced_blocks_accordion_body {
    padding-top: 20px;
    padding-right: 20px;
}

.advanced_blocks_accordion.line-style {
    padding: 25px 0 0px 0;
}

.advanced_blocks_accordion .accordion_icon {
    position: absolute;
}

.advanced_blocks_accordion .advanced_blocks_accordion_title {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.advanced_blocks_accordion.line-style .accordion_icon {
    right: 0;
    color: #b4b4b4;
}

.advanced_blocks_accordion.line-style .advanced_blocks_accordion_title {
    position: relative;
}

.advanced_blocks_accordion.line-style .advanced_blocks_accordion_title::before {content: "";position: absolute;right: 40px;width: calc(100% - 275px);height: 1px;background: #cae9f8;}

.advanced_blocks_accordion.show .accordion_icon .default {
    display: none;
}

.advanced_blocks_accordion .accordion_icon .showed {
    display: none;
}

.advanced_blocks_accordion.show .accordion_icon .showed {
    display: block;
}

.advanced_blocks_accordion.line-style .advanced_blocks_accordion_title h6 {
    color: #31708f;
    font-size: 16px;
    font-weight: 600;
}

.advanced_blocks_accordion.line-style .advanced_blocks_accordion_body p {
    line-height: 30px;
    color: #727272;
}
/*  */

/*  */
.advanced_blocks_accordion.solid-box {
    position: relative;
    background: #4a57ff;
}

.advanced_blocks_accordion.solid-box .advanced_blocks_accordion_body {
    padding: 20px 40px 19px 40px;
}
.advanced_blocks_accordion.solid-box {
    border-bottom: 1px solid #5965ff;
    padding-bottom: 18px;
}

.advanced_blocks_accordion.solid-box .accordion_icon {
    right: 34px;
}

.advanced_blocks_accordion.solid-box .advanced_blocks_accordion_title {
    padding: 18px 40px 0 40px;
}

.advanced_blocks_accordion.solid-box .advanced_blocks_accordion_title h6 {
    color: #ffffff;
    font-weight: 600;
}
.advanced_blocks_accordion.solid-box .advanced_blocks_accordion_body p {
    font-size: 14px;
    color: #ffffff;
}

.advanced_blocks_accordion.solid-box .accordion_icon {
    color: #2933a7;
}

.advanced_blocks_accordion.solid-box.show .accordion_icon {
    color: #ffffff;
}

.advanced_blocks_accordion.solid-box.show {
    background: #505dff;
    box-shadow: 0 0 10px rgba(0,0,0,.05);
    border-bottom-color: transparent;
}
/*  */

/*  */
.advanced_blocks_accordion.solid-box.default {
    border: 1px solid #e0e1e8;
    background: #ffffff;
    margin-bottom: -1px;
}

.advanced_blocks_accordion.solid-box.default .advanced_blocks_accordion_title h6 {
    color: #5d5d5d;
}

.advanced_blocks_accordion.solid-box.default .accordion_icon {
    color: #5d5d5d;
}

.advanced_blocks_accordion.solid-box.default .advanced_blocks_accordion_body p {
    color: #848484;
    font-size: 15px;
    line-height: 26px;
}
/*  */

/*  */

.advanced_blocks_accordion.solid-box.card-box {
    background: #f8f8fb;
    margin-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    border: none;
    transition: all .30s linear;
}

.advanced_blocks_accordion.solid-box.card-box .advanced_blocks_accordion_title h6 {
    color: #626384;
    text-transform: capitalize;
    font-weight: 500;
}

.advanced_blocks_accordion.solid-box.card-box .accordion_icon {
    color: #c5c5c5;
    font-size: 20px;
}

.advanced_blocks_accordion.solid-box.card-box .accordion_icon i {
    text-shadow: 0 0 7px rgba(0,0,0,.10);
}

.advanced_blocks_accordion.solid-box.card-box.show {
    background: #2c2d50;
}

.advanced_blocks_accordion.solid-box.card-box .advanced_blocks_accordion_title {
    padding-left: 40px;
    padding-bottom: 18px;
    transition: all .30s linear;
}

.advanced_blocks_accordion.solid-box.card-box.show .advanced_blocks_accordion_title h6 {
    color: #ffffff;
}

.advanced_blocks_accordion.solid-box.card-box .advanced_blocks_accordion_body {
    padding: 23px 40px 23px 40px;
}

.advanced_blocks_accordion.solid-box.card-box.show  .advanced_blocks_accordion_body {
    background: #f8f8fb;
}

.advanced_blocks_accordion.solid-box.card-box.show .advanced_blocks_accordion_body p {
    color: #727272;
    line-height: 30px;
}
/*  */

/*--------------------------------
    Icon right
--------------------------------*/
.advanced_blocks_accordion.icon-left .accordion_icon {
    right: initial;
    left: 30px;
}

.advanced_blocks_accordion.icon-left .advanced_blocks_accordion_title {
    padding-left: 60px !important;
}