/*  */


@font-face {
  font-family: 'Harrington';
  src: url('Harrington.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/Harrington.woff') format('woff'), 
  url('../fonts/Harrington.ttf')  format('truetype'), 
  url('../fonts/Harrington.svg#Harrington') format('svg');
  font-weight: normal;
  font-style: normal;
}


.advanced_blocks_heading_content.creative_heading {

    padding-right: 50px;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;
}

.advanced_blocks_heading_content.creative_heading .advanced_blocks_heading_text {
    font-size: 24px;
    color: #555555;
    font-weight: 300;
    line-height: 35px;
    margin-bottom: 0;
    margin-top: 25px;
}

.advanced_blocks_heading_content.creative_heading .advanced_blcoks_heading_link {
    display: block;
    color: #ff4c4c;
    font-size: 16px;
}
.advanced_blocks_heading_content.creative_heading .advanced_blcoks_heading_link i{
	font-size: 12px;
}
.advanced_blocks_heading_content.creative_heading .advanced_blcoks_heading_subtitle {
    position: absolute;
    color: #493cb1;
    font-size: 34px;
    display: inline-flex;
    font-weight: 300;
    right: 0;
    bottom: 0;
    line-height: 40px;
}

.advanced_blocks_heading_content.creative_heading .advanced_blocks_heading_title {
    font-size: 120px;
    color: #e9e2f7;
    display: inline-block;
    position: relative;
    line-height: 114px;
    margin-bottom: 20px;
}

.advanced_blocks_heading_content.creative_heading .advanced_blcoks_heading_subtitle > span {
    font-weight: 700;
}

.advanced_blcoks_heading_image.creative_heading {
    position: relative;
}

.advanced_blcoks_heading_image.creative_heading::before {
    content: "";
    position: absolute;
    height: 285px;
    width: 285px;
    border: 23px solid rgba(73,60,177,.85);
    top: 50%;
    transform: translateY(-50%);
    left: -100px;
}
.advanced_blcoks_heading_image.creative_heading img {
    max-width: 100%;
}
/*  */

/*  */

.advanced_blocks_heading_content.double_bar .advanced_blocks_heading_text {
    font-weight: 300;
    color: #4b4c80;
    font-size: 24px;
    line-height: 36px;
    padding: 0 35px 0 0;
}

.advanced_blocks_heading_content.double_bar .advanced_blcoks_heading_link {
    display: block;
    text-align: center;
    font-size: 16px;
    color: #ff7b35;
}

.advanced_blocks_heading_content.double_bar .advanced_blocks_heading_title {
    font-size: 160px;
    color: #e8f9f4;
    position: relative;
    line-height: 120px;
    display: inline-block;
    font-weight: 700;
    margin-bottom: 30px;
}

.advanced_blocks_heading_content.double_bar .blocks_heading_head {
    text-align: center;
    padding-bottom: 42px;
}

.advanced_blocks_heading_content.double_bar .advanced_blocks_heading_title .advanced_blcoks_heading_subtitle {
    font-size: 28px;
    color: #5b8ac1;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 4px;
    position: absolute;
    line-height: 35px;
    display: flex;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.advanced_blocks_heading_content.double_bar .advanced_blocks_heading_title::before {content: "";position: absolute;left: 80px;width: 5px;height: 115px;background: #6fe9c5;}

.advanced_blocks_heading_content.double_bar .advanced_blocks_heading_title::before,.advanced_blocks_heading_content.double_bar .advanced_blocks_heading_title::after {content: "";position: absolute;left: 80px;height: 115px;width: 5px;background: #6fe9c5;display: block;top: 50%;transform: translateY(-50%);}



.advanced_blocks_heading_content.double_bar .advanced_blocks_heading_title::after {
    right: 80px;
    left: initial;
}

.advanced_blocks_heading_content.double_bar .advanced_blcoks_heading_link i {
    font-size: 12px;
}
/*  */

/*  */

.advanced_blocks_heading_content.fancy_heading .blocks_heading_body {
    padding-top: 40px;
}

.advanced_blocks_heading_content.fancy_heading {
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;
}

.advanced_blocks_heading_content.fancy_heading .advanced_blocks_heading_text {
    font-size: 32px;
    line-height: 36px;
    font-family: 'Allura', cursive;
}

.advanced_blocks_heading_content.fancy_heading .advanced_blcoks_heading_subtitle {
    position: absolute;
    font-size: 20px;
    color: #232644;
    font-weight: 400;
    left: 124px;
    top: -23px;
    text-transform: capitalize;
}

.advanced_blocks_heading_content.fancy_heading .advanced_blocks_heading_title {
    font-size: 75px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 70px;
    position: relative;
}

.advanced_blocks_heading_content.fancy_heading .advanced_blocks_heading_title::first-letter {
    font-size: 180px;
    color: #fb7387;
    font-family: 'Harrington';
}

.advanced_blcoks_heading_image.fancy_heading img {
    max-width: 100%;
}

.advanced_blocks_heading_content.life_style_heading {
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    justify-content: center;
}

.advanced_blocks_heading_content.life_style_heading .blocks_heading_body {
    padding-top: 30px;
}

.advanced_blocks_heading_content.life_style_heading .advanced_blocks_heading_text {
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
}

.advanced_blocks_heading_content.life_style_heading {
    text-align: right;
}

.advanced_blocks_heading_content.life_style_heading .advanced_blcoks_heading_subtitle {
    font-size: 30px;
    font-weight: 600;
    display: block;
    text-transform: capitalize;
}

.advanced_blocks_heading_content.life_style_heading .advanced_blocks_heading_title {
    font-size: 70px;
    text-transform: uppercase;
    line-height: 50px;
    position: relative;
}

.advanced_blocks_heading_content.life_style_heading .advanced_blocks_heading_title::after {content: "";position: absolute;right: 0;bottom: 9px;width: 264px;height: 62px;border: 20px solid #eaf5ff;border-radius: 30px;background: transparent;z-index: -1;}
/*  */

/*  */

.advanced_blocks_heading_content.simple_heading .advanced_blocks_heading_text {
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
    text-align: center;
}

.advanced_blocks_heading_content.simple_heading .advanced_blcoks_heading_subtitle {
    font-size: 23px;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    padding: 8px 30px 8px 30px;
    margin-bottom: 45px;

}

.advanced_blocks_heading_content.simple_heading .blocks_heading_head {
    text-align: center;
}

.advanced_blocks_heading_content.simple_heading .blocks_heading_head .advanced_blocks_heading_title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 20px;
    font-family: 'Libre Baskerville', serif;
}

.advanced_blocks_heading_content.simple_heading .advanced_blcoks_heading_subtitle::before,.advanced_blocks_heading_content.simple_heading .advanced_blcoks_heading_subtitle::after {content: "";position: absolute;left: 0;top: 0;width: 100%;height: 1px;background: #e2f2fa;}

.advanced_blocks_heading_content.simple_heading .advanced_blcoks_heading_subtitle::after {
    bottom: 0;
    top: initial;
}
/*  */

/*  */

.advanced_blocks_heading_content.bridal_heading .blocks_heading_head img {
    margin-bottom: 20px;
}
.advanced_blocks_heading_content.bridal_heading .advanced_blcoks_heading_subtitle {
    position: absolute;
    text-transform: lowercase;
    left: 50%;
    bottom: -33px;
    transform: translateX(-50%);
    font-family: 'Pinyon Script', cursive;
    z-index: 0;
}

.advanced_blocks_heading_content.bridal_heading .advanced_blocks_heading_text {
    font-size: 20px;
    line-height: 36px;
    font-family: 'Libre Baskerville', serif;
}

.advanced_blocks_heading_content.bridal_heading .advanced_blocks_heading_title {
    font-size: 80px;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    line-height: 80px;
    margin-bottom: 30px;
    font-family: 'Libre Baskerville', serif;
    z-index: 9;
}

.advanced_blocks_heading_content.bridal_heading .advanced_blcoks_heading_link {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 18px;
    font-family: 'Libre Baskerville', serif;
}

.advanced_blocks_heading_content.bridal_heading {
    text-align: center;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.advanced_blcoks_heading_image.bridal_heading img {
    max-width: 100%;
}
/*  */

/*  */
/*  */

@media (min-width: 992px) and (max-width: 1199px) {
    .advanced_blocks_heading_content.double_bar .advanced_blocks_heading_title {
        font-size: 130px;
        line-height: 100px;
    }
    .advanced_blocks_heading_content.double_bar .advanced_blocks_heading_title .advanced_blcoks_heading_subtitle {
        font-size: 22px;
    }
    .advanced_blocks_heading_content.double_bar .advanced_blocks_heading_text {
        font-size: 20px;
        line-height: 30px;
    }
    .advanced_blocks_heading_content.fancy_heading .advanced_blocks_heading_title {
        font-size: 56px;
    }
    .advanced_blocks_heading_content.fancy_heading .advanced_blocks_heading_title::first-letter {
        font-size: 100px;
    }
    .advanced_blocks_heading_content.fancy_heading .advanced_blcoks_heading_subtitle {
        font-size: 15px;
        left: 75px;
    }
    .advanced_blocks_heading_content.fancy_heading .blocks_heading_body {
        padding-top: 20px;
    }
    .advanced_blocks_heading_content.fancy_heading .advanced_blocks_heading_text {
        font-size: 20px;
        line-height: 36px;
    }
    .advanced_blcoks_heading_image.life_style_heading img {
        max-width: 100%;
    }
    .advanced_blocks_heading_content.life_style_heading .blocks_heading_body {
        padding-top: 15px;
    }
    .advanced_blocks_heading_content.life_style_heading .advanced_blocks_heading_title {
        font-size: 60px;
        line-height: 50px;
    }
    .advanced_blocks_heading_content.life_style_heading .advanced_blocks_heading_text {
        font-size: 18px;
        line-height: 29px;
    }
    .advanced_blocks_heading_content.simple_heading .blocks_heading_head .advanced_blocks_heading_title {
        font-size: 50px;
        line-height: 36px;
        margin-bottom: 20px;
    }
    .advanced_blocks_heading_content.simple_heading .advanced_blcoks_heading_subtitle {
        font-size: 18px;
        padding: 8px 30px 8px 30px;
        margin-bottom: 40px;
    }
    .advanced_blocks_heading_content.simple_heading .advanced_blocks_heading_text {
        font-size: 18px;
        line-height: 30px;
    }
    .advanced_blocks_heading_content.bridal_heading .advanced_blocks_heading_title {
        font-size: 60px;
        line-height: 70px;
    }
    .advanced_blocks_heading_content.bridal_heading .advanced_blocks_heading_text {
        font-size: 15px;
        line-height: 26px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .advanced_blocks_heading_content.creative_heading .advanced_blocks_heading_title {
        font-size: 100px;
        line-height: 90px;
        margin-bottom: 15px;
    }
    .advanced_blcoks_heading_image.creative_heading::before {
        content: "";
        height: 200px;
        width: 200px;
        border: 15px solid rgba(73,60,177,.85);
    }
    .advanced_blocks_heading_content.creative_heading .advanced_blocks_heading_text {
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 0;
        margin-top: 25px;
    }
    .advanced_blocks_heading_content.creative_heading {
        padding-right: 90px;
    }

     .advanced_blocks_heading_content.double_bar .advanced_blocks_heading_title {
        font-size: 130px;
        line-height: 100px;
    }
    .advanced_blocks_heading_content.double_bar .advanced_blocks_heading_title .advanced_blcoks_heading_subtitle {
        font-size: 22px;
    }
    .advanced_blocks_heading_content.double_bar .advanced_blocks_heading_text {
        font-size: 20px;
        line-height: 30px;
    }

   .advanced_blocks_heading_content.fancy_heading .advanced_blocks_heading_title {
        font-size: 40px;
    }
    .advanced_blocks_heading_content.fancy_heading .advanced_blocks_heading_title::first-letter {
        font-size: 80px;
    }
    .advanced_blocks_heading_content.fancy_heading .advanced_blcoks_heading_subtitle {
        font-size: 15px;
        left: 75px;
    }
    .advanced_blocks_heading_content.fancy_heading .blocks_heading_body {
        padding-top: 20px;
    }
    .advanced_blocks_heading_content.fancy_heading .advanced_blocks_heading_text {
        font-size: 20px;
        line-height: 36px;
    }
    .advanced_blcoks_heading_image.life_style_heading img {
        max-width: 100%;
    }
    .advanced_blocks_heading_content.life_style_heading .advanced_blocks_heading_title {
        font-size: 50px;
        line-height: 40px;
    }
    .advanced_blocks_heading_content.life_style_heading .advanced_blocks_heading_text {
        font-size: 16px;
        line-height: 26px;
    }
    .advanced_blocks_heading_content.life_style_heading .blocks_heading_body {
        padding-top: 15px;
    }
    .advanced_blocks_heading_content.simple_heading .blocks_heading_head .advanced_blocks_heading_title {
        font-size: 40px;
        line-height: 30px;
        margin-bottom: 16px;
    }
    .advanced_blocks_heading_content.simple_heading .advanced_blcoks_heading_subtitle {
        font-size: 18px;
        padding: 5px 30px 5px 30px;
        margin-bottom: 20px;
    }
    .advanced_blocks_heading_content.simple_heading .advanced_blocks_heading_text {
        font-size: 15px;
        line-height: 26px;
    }
    .advanced_blocks_heading_content.bridal_heading .advanced_blocks_heading_title {
        font-size: 50px;
        line-height: 60px;
        margin-bottom: 30px;
    }
    .advanced_blocks_heading_content.bridal_heading .advanced_blocks_heading_text {
        font-size: 14px;
        line-height: 28px;
    }
}

@media  (max-width: 767px) {
    .advanced_blocks_heading_content.creative_heading .advanced_blocks_heading_title {
        font-size: 74px;
        line-height: 114px;
        margin-bottom: 20px;
    }
    .advanced_blocks_heading_content.creative_heading .advanced_blcoks_heading_subtitle {
        font-size: 20px;
        line-height: 40px;
    }
    .advanced_blocks_heading_content.creative_heading .advanced_blocks_heading_text {
        font-size: 15px;
        line-height: 26px;
        margin-top: 25px;
    }
    .advanced_blcoks_heading_image.creative_heading::before {
        height: 150px;
        width: 150px;
        border: 15px solid rgba(73,60,177,.85);
        left: -46px;
    }
    .advanced_blocks_heading_content.double_bar .advanced_blocks_heading_title {
        font-size: 96px;
        line-height: 90px;
        margin-bottom: 10px;
    }
    .advanced_blocks_heading_content.double_bar .advanced_blocks_heading_title .advanced_blcoks_heading_subtitle {
        font-size: 15px;
    }
    .advanced_blocks_heading_content.double_bar .advanced_blocks_heading_title::before, 
    .advanced_blocks_heading_content.double_bar .advanced_blocks_heading_title::after {
        left: 80px;
        height: 70px;
    }
    .advanced_blocks_heading_content.double_bar .blocks_heading_head {
        padding-bottom: 25px;
    }
    .advanced_blocks_heading_content.double_bar .advanced_blocks_heading_text {
        font-size: 18px;
        line-height: 30px;
        padding: 0 30px 0 0;
    }
    .advanced_blocks_heading_content.fancy_heading .advanced_blocks_heading_title {
        font-size: 50px;
        line-height: 50px;
    }
    .advanced_blocks_heading_content.fancy_heading .advanced_blocks_heading_title::first-letter {
        font-size: 90px;
    }
    .advanced_blocks_heading_content.fancy_heading .advanced_blcoks_heading_subtitle {
        font-size: 20px;
        left: 65px;
        top: -29px;
    }
    .advanced_blocks_heading_content.fancy_heading .advanced_blocks_heading_text {
        font-size: 21px;
        line-height: 30px;
    }
    .advanced_blocks_heading_content.fancy_heading .blocks_heading_body {
        padding-top: 15px;
    }
    .advanced_blcoks_heading_image.life_style_heading img {
        max-width: 100%;
    }
    .advanced_blcoks_heading_image.life_style_heading {
        padding-bottom: 30px;
    }
    .advanced_blocks_heading_content.life_style_heading .advanced_blocks_heading_title {
        font-size: 48px;
        line-height: 40px;
    }
    .advanced_blocks_heading_content.life_style_heading .advanced_blcoks_heading_subtitle {
        font-size: 24px;
    }
    .advanced_blocks_heading_content.life_style_heading .advanced_blocks_heading_text {
        font-size: 18px;
        line-height: 28px;
    }
    .advanced_blocks_heading_content.life_style_heading .blocks_heading_body {
        padding-top: 10px;
    }
    .advanced_blocks_heading_content.simple_heading .blocks_heading_head .advanced_blocks_heading_title {
        font-size: 36px;
        line-height: 36px;
        margin-bottom: 12px;
    }
    .advanced_blocks_heading_content.simple_heading .advanced_blcoks_heading_subtitle {
        font-size: 15px;
        padding: 6px 30px 6px 30px;
        margin-bottom: 30px;
    }
    .advanced_blocks_heading_content.simple_heading .advanced_blocks_heading_text {
        font-size: 15px;
        font-weight: 300;
        line-height: 28px;
    }
    .advanced_blocks_heading_content.bridal_heading .advanced_blocks_heading_title {
        font-size: 36px;
        line-height: 55px;
    }
    .advanced_blocks_heading_content.bridal_heading .advanced_blcoks_heading_link {
        font-size: 13px;
        line-height: 22px;
        margin-bottom: 6px;
    }
    .advanced_blocks_heading_content.bridal_heading .advanced_blocks_heading_text {
        font-size: 14px;
        line-height: 30px;
    }
}