/**/

.advanced_blocks_cart_table thead {
    background: #f3f7f9;
}

.advanced_blocks_cart_table thead th {color: #0b0931;font-weight: 600;font-size: 18px;line-height: 50px;border: none !important;}

.advanced_blocks_cart_table .advanced_blcoks_product_name,
.advanced_blocks_cart_table .advanced_blcoks_product_quantity,  
.advanced_blocks_cart_table .advanced_blcoks_product_price,
.advanced_blocks_cart_table .advanced_blcoks_product_subtotal {
    font-size: 18px;
    color: #8e8e8e;
    letter-spacing: .6px;
}

.advanced_blocks_cart_table td {
    padding: 20px 0;
    vertical-align: middle;
    border-top: 1px solid #e7e7e7;
}

.advanced_blocks_cart_table td.advance_block_product_remove {
    padding-left: 24px;
    padding-right: 24px;
}

.quantity {
    width: 92px;
    height: 45px;
    border: 1px solid #e7e7e7;
    background: #fafafa;
    border-radius: 20px;
    position: relative;
}
.display::-webkit-outer-spin-button,
.display::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.quantity .display {
    width: 44px;
    position: absolute;
    left: 15px;
    top: 0;
    height: 100%;
    border: none;
    color: #8e8e8e;
    font-size: 18px;
    background: transparent;
}

.quantity .plus,.quantity .minus {
    position: absolute;
    right: 8px;
    font-size: 21px;
    font-weight: 600;
    line-height: 0px;
    cursor: pointer;
    z-index: 9;
}

.quantity .plus {
    top: 1px;
}

.quantity .minus {bottom: 0;}

.quantity .display:focus {
    box-shadow: none;
    outline: none;
}

.advanced_blocks_cart_table .advanced_blcoks_product_subtotal {
    padding-left: 25px;
}

.advanced_blocks_cart_table {
    margin-bottom: 0;
}

.advanced_blcok_woocommerce_cart.default form {
    box-shadow: 0px 3px 14px 0px rgba(0,5,73,.05);
}

.advanced_blcok_woocommerce_cart.default .apply_cupon_btn,.advanced_blcok_woocommerce_cart.default .update_cart {
    background: #ffda29;
    font-size: 16px;
    color: #222222;
    padding: 0 30px;
    border-radius: 25px;
    margin-left: 25px;
}

.advanced_blcok_woocommerce_cart.default .advanced_block_cart_action {
    background: #f3f7f9;
    padding: 40px 40px;
}

.advanced_blcok_woocommerce_cart.default .advanced_block_cart_action .cupon_code {
    line-height: 50px;
    width: 222px;
    border-radius: 25px;
    border: 1px solid #e7e7e7;
    padding-left: 15px;
}


.advanced_block_total.default {
    background: #f3f7f9;
    margin-top: 70px;
}

.advanced_block_total.default h3 {
    color: #000000;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 26px;
}

.advanced_block_total.default .advanced_blocks_btn {
    background: #ffda29;
    color: #ffffff;
    width: 100%;
    line-height: 40px;
    border-radius: 25px;
}

.advanced_block_total.default {
    padding: 40px;
}

.advanced_block_total.default ul {
    margin-bottom: 0;
    padding-bottom: 20px;
}

.advanced_block_total.default ul li {
    color: #222222;
    font-size: 16px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/**/

/**/

.advanced_blcok_woocommerce_cart.default.horizontal.white .advanced_blocks_cart_table td {
    border-bottom: 1px solid #e7e7e7;
    border-top: transparent;
}

.advanced_blcok_woocommerce_cart.default.horizontal.white .advanced_blocks_cart_table tbody {
    background: #fafbfc;
    border-left: 20px solid #ffffff;
    border-right: 20px solid #ffffff;
}

.advanced_blcok_woocommerce_cart.default.horizontal.white .table-responsive {
    padding: 0px 10px;
    padding-bottom: 0;
}

.advanced_blcok_woocommerce_cart.default.horizontal.white .advanced_blocks_cart_table thead {
    background: #ffffff;
}

.advanced_blcok_woocommerce_cart.default.horizontal.white .advanced_block_cart_action {
    background: #ffffff;
    margin-top: -1px;
}

.advanced_blcok_woocommerce_cart.default.horizontal.white .cupon_code {
    border-radius: 0;
    line-height: 40px;
}

.advanced_blcok_woocommerce_cart.default.horizontal.white .apply_cupon_btn, .advanced_blcok_woocommerce_cart.default.horizontal.white .update_cart {
    background: #4a6cff;
    color: #ffffff;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0,0,0,.10);
}
/**/

/**/

.advanced_block_total.default.horizontal.white .proceed_checkout {
    width: calc(100% - 446px);
    background: #fafbfc;
    padding: 6px 0;
}
.advanced_block_total.default.horizontal.white {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    margin-top: 30px;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0px 10px 20px rgba(74,108,255,.20);
}

.advanced_block_total.default.horizontal .advanced_blocks_btn {
    background: #4a6cff;
    border-radius: 5px;
    line-height: 66px;
    width: initial;
    padding: 0 30px;
}

.advanced_block_total.default.horizontal .proceed_checkout ul {
    flex-flow: row;
    display: flex;
    padding-bottom: 0;
    align-items: center;
    justify-content: space-around;
}

.advanced_block_total.default.horizontal .proceed_checkout ul li {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 0;
}

.advanced_block_total.default.horizontal h3 {
    margin-bottom: 0;
    width: 220px;
}

.advanced_block_total.default.horizontal.default .checkout_title {
    color: #222222;
    font-weight: 600;
    font-size: 16px;
    display: block;
    margin-bottom: 10px;
}

.advanced_block_total.default.horizontal.default .checkout_value {
    color: #222222;
    font-size: 16px;
}

.advanced_blcok_woocommerce_cart.default.horizontal.white form {
    background: #ffffff;
}
/**/

.advanced_blcok_woocommerce_cart.default.horizontal.white.stripped .advanced_blocks_cart_table td {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 15px solid #ffffff;
}
.advanced_blcok_woocommerce_cart.default.horizontal.white.stripped form {
    box-shadow: none;
}
.advanced_blocks_cart_table.stripped thead .advanced_blcoks_product_name, .advanced_blocks_cart_table.stripped thead .advanced_blcoks_product_quantity, .advanced_blocks_cart_table.stripped thead .advanced_blcoks_product_price, .advanced_blocks_cart_table.stripped thead .advanced_blcoks_product_subtotal {
    color: #0b0931;
}

.table.advanced_blocks_cart_table.advaced_blocks_table.stripped .advance_block_product_remove {
    color: #c3c3c3;
    padding-left: 30px;
}

.advanced_blcok_woocommerce_cart.default.horizontal.white.stripped  .apply_cupon_btn, .advanced_blcok_woocommerce_cart.default.horizontal.white.stripped .update_cart {
    background: #4abc3f;
}

.advanced_blcok_woocommerce_cart.default.stripped  .advanced_block_cart_action {
    padding: 15px 40px;
}

.advanced_block_total.default.horizontal.white.stripped {
    margin-top: 15px;
    box-shadow: none;
    border-top: 1px solid #e8f1f5;
    border-radius: 0;
}

.advanced_block_total.default.horizontal.white.stripped .advanced_blocks_btn {
    background: #4abc3f;
    border-radius: 0;
}

.table.advanced_blocks_cart_table.advaced_blocks_table.stripped .quantity {
    background: #ffffff;
    border-radius: 0;
    border: none;
}

.advanced_blcok_woocommerce_cart.default.horizontal.white.stripped  .advanced_blocks_cart_table tbody {
    background: #f4f8fa;
}
.advanced_block_total.default.horizontal.white.stripped .proceed_checkout{
    background: #f4f8fa;
}
/**/

/**/

.advanced_blcok_woocommerce_cart.default.cart_bordered .quantity {
    background: #ffffff;
    border: none;
    box-shadow: 0px 8px 16px rgba(28,198,255,.20);
}

.advanced_blcok_woocommerce_cart.default.cart_bordered .advanced_blocks_cart_table thead {
    background: transparent;
}

.advanced_blcok_woocommerce_cart.default.cart_bordered form {
    box-shadow: none;
}

.advanced_blocks_cart_table thead .advanced_blcoks_product_name, .advanced_blocks_cart_table thead .advanced_blcoks_product_quantity, .advanced_blocks_cart_table thead .advanced_blcoks_product_price, .advanced_blocks_cart_table thead .advanced_blcoks_product_subtotal {
    color: #0b0931;
}

.advanced_blocks_cart_table.cart_bordered  td.advance_block_product_remove {
    color: #cccccc;
}

.advanced_blcok_woocommerce_cart.default.cart_bordered .apply_cupon_btn, .advanced_blcok_woocommerce_cart.default.cart_bordered .update_cart {
    background: #ffffff;
    color: #1cc6ff;
    box-shadow: 0px 6px 14px rgba(28,198,255,.20);
    font-weight: 600;
    transition: all .30s linear;
}

.advanced_blcok_woocommerce_cart.default.cart_bordered .apply_cupon_btn:hover, .advanced_blcok_woocommerce_cart.default.cart_bordered .update_cart:hover {
    background: #1cc6ff;
    color: #ffffff;
}

.advanced_blcok_woocommerce_cart.default.cart_bordered  .advanced_block_cart_action {
    background: transparent;
}

.table.advanced_blocks_cart_table.cart_bordered.advaced_blocks_table td,.table.advanced_blocks_cart_table.cart_bordered.advaced_blocks_table th {
    border-top: 0;
    border-bottom: 1px solid #e7e7e7 !important;
}

.advanced_block_total.default.cart_bordered {
    box-shadow: -3px 7px 7px rgba(28,198,255,.20);
    background: #ffffff;
}

.advanced_block_total.default.cart_bordered .advanced_blocks_btn {
    background: #1cc6ff;
    font-weight: 600;
}
/**/


.advanced_blcok_woocommerce_cart.default.horizontal.white.stripped.hovered .table-responsive {
    padding: 0;
}

.advanced_blcok_woocommerce_cart.default.horizontal.white.stripped.hovered {
    border: 1px solid #efefef;
}

.advanced_blcok_woocommerce_cart.default.horizontal.white.stripped.hovered .advanced_blocks_cart_table td {
    margin: 0;
    border: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #efefef;
}

.advanced_blcok_woocommerce_cart.default.horizontal.white.stripped.hovered .advanced_blocks_cart_table tbody {
    border: 0;
    background: #ffffff;
}

.advanced_blcok_woocommerce_cart.default.horizontal.white.stripped.hovered .advanced_blocks_cart_table tbody .advanced_blocks_cart_row:hover {
    background: #f7f7f9;
    box-shadow: 0px 3px 5px rgba(0,0,0,.20);
}

.table.advanced_blocks_cart_table.advaced_blocks_table.stripped.hovered  .quantity {
    border: 1px solid #efefef;
}

.advanced_blcok_woocommerce_cart.default.horizontal.white.stripped.hovered .apply_cupon_btn, .advanced_blcok_woocommerce_cart.default.horizontal.white.stripped.hovered .update_cart {
    background: #5433ff;
    border-radius: 0;
    font-weight: 500;
}

.advanced_block_total.default.horizontal.white.stripped.hovered .advanced_blocks_btn {
    background: #5433ff;
    line-height: 45px;
}
.advanced_block_total.default.horizontal.white.stripped.hovered  .proceed_checkout {
    background: transparent;
}

.advanced_blcok_woocommerce_cart.default.horizontal.white.stripped.hovered .apply_cupon_btn:hover, .advanced_blcok_woocommerce_cart.default.horizontal.white.stripped.hovered .update_cart:hover {
    background: #ffd116;
    color: #292846;
}

.table.advanced_blocks_cart_table.stripped.advaced_blocks_table.hovered {
    border-bottom: 1px solid #efefef;
}