/**/

.advanced_blocks_categories.default {
    background: #fff4bf;
}

.advanced_blocks_categories.default .grid_item {
    padding: 2px;
}

.advanced_blocks_categories.default .grid_bottom {
    text-align: center;
    padding: 15px 0;
}

.advanced_blocks_categories.default .grid_bottom h4 {
    color: #333333;
    font-size: 28px;
    font-weight: 400;
}
.advanced_blocks_categories.default .grid{
	padding: 1px;
}
.advanced_blocks_categories.default .grid_item .single_photo_gallery img {
    max-width: 100%;
}
/*  */

/*  */

.advanced_blocks_categories.fashion_lifestyle .grid_bottom {
    padding-top: 28px;
}

.advanced_blocks_categories.fashion_lifestyle .grid_item {
    padding: 2px;
}

.advanced_blocks_categories.fashion_lifestyle .grid_bottom h4 {
    color: #03041c;
    font-size: 26px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 0;
}

.advanced_blocks_categories.fashion_lifestyle .grid_bottom p {
    margin-bottom: 0;
    color: #898888;
    font-size: 16px;
}

.advanced_blocks_categories.fashion_lifestyle .grid_bottom p span {
    color: #494949;
}

.advanced_blocks_categories.fashion_lifestyle .grid_bottom .woocommerce_categories {
    padding-top: 30px;
}

.advanced_blocks_categories.fashion_lifestyle .grid_bottom .woocommerce_categories a {
    color: #525252;
    padding: 4px 10px;
    background: #f5f5f5;
    border-radius: 6px;
}
.advanced_blocks_categories .grid_item img{
	max-width: 100%;
}
.advanced_blocks_categories.fashion_lifestyle .grid_bottom .woocommerce_categories a:not(:last-child) {
    margin-right: 10px;
}
/*  */
/**/
.advanced_blocks_categories.default.boxed {
    background: #666666;
    border-radius: 12px;
    padding: 3px;
}

.advanced_blocks_categories.default.boxed .grid_item {
    padding: 2px;
}

.advanced_blocks_categories.default.boxed .grid_bottom {
    padding: 10px 0;
}

.advanced_blocks_categories.default.boxed .grid_bottom h4 {
    color: #ffffff;
    margin-bottom: 0;
    line-height: 30px;
    font-size: 18px;
    font-weight: 600;
}
/**/
/**/
/**/