/**/
.advanced_blocks_searchbox.searchbox-wt-content {
    display: flex;
    flex-wrap: wrap;
    padding: 100px 100px 100px 100px;
    background: #ffd5a7;
    background: -moz-linear-gradient(-45deg,  #ffd5a7 0%, #ffb7a7 100%);
    background: -webkit-linear-gradient(-45deg,  #ffd5a7 0%,#ffb7a7 100%);
    background: linear-gradient(135deg,  #ffd5a7 0%,#ffb7a7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd5a7', endColorstr='#ffb7a7',GradientType=1 );
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,.05);
}

.advanced_blocks_searchbox.searchbox-wt-content .searchbox_content {
    flex: 0 0 30%;
}

.advanced_blocks_searchbox.searchbox-wt-content .searcbox_area {
    flex: 0 0 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.advanced_blocks_searchbox .searchbox_content p {
    margin-bottom: 0;
    font-size: 14px;
}

.advanced_blocks_searchbox.searchbox-wt-content .searcbox_area .advanced_blocks_field {
    line-height: 70px;
    height: 70px;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    color: #bbbbbb;
    position: relative;
    z-index: 9;
}

.advanced_blocks_searchbox.searchbox-wt-content .searcbox_area .advanced_blocks_btn {
    position: absolute;
    right: 0;
    border: none;
    line-height: 50px;
    height: 50px;
    border-radius: 4px 0px 0px 4px;
    background: #ffcd86;
    background: -moz-linear-gradient(left,  #ffcd86 0%, #ff8d76 100%);
    background: -webkit-linear-gradient(left,  #ffcd86 0%,#ff8d76 100%);
    background: linear-gradient(to right,  #ffcd86 0%,#ff8d76 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcd86', endColorstr='#ff8d76',GradientType=1 );
    z-index: 9;
    box-shadow: 0 0 10px rgba(57,11,0,.12);
}

.advanced_blocks_searchbox.searchbox-wt-content .searcbox_area .search_icon {
    position: absolute;
    right: 12px;
    font-size: 16px;
    color: #ffdad4;
    z-index: 15;
}

.advanced_blocks_searchbox.searchbox-wt-content .searchbox_content h3 {
    font-size: 30px;
    color: #303b75;
    font-weight: 400;
    margin-bottom: 0;
}

.advanced_blocks_searchbox.searchbox-wt-content .searcbox_area::before {
    content: "";
    position: absolute;
    width: 70px;
    height: 70px;
    right: calc(100% + -38px);
    bottom: calc(100% - 43px);
    opacity: 1;
    z-index: 0;
    background: #ffcd86;
    background: -moz-linear-gradient(left,  #ffcd86 0%, #ff8d76 100%);
    background: -webkit-linear-gradient(left,  #ffcd86 0%,#ff8d76 100%);
    background: linear-gradient(to right,  #ffcd86 0%,#ff8d76 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcd86', endColorstr='#ff8d76',GradientType=1 );
    opacity: .3;
    border-radius: 6px;
    box-shadow: 0px 0px 10px rgba(0,0,0,.05);
}

.advanced_blocks_searchbox.searchbox-wt-content .searcbox_area::after {
    content: "";
    position: absolute;
    left: calc(100% + -66px);
    bottom: calc(100% - 83px);
    border: 15px solid #ffbb91;
    height: 115px;
    width: 115px;
    border-radius: 50%;
    opacity: 1;
    z-index: 0;box-shadow: 0 0 10px rgba(0,0,0,.02);}
/**/

/**/
/**/